<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>NBA APP</title>
</head>
<body>
    <header>
        <a class="button" href="http://localhost:3000">HOME</a>
        <h1>Times da NBA</h1>
    </header>
    <main>
        <div>
            <% times.forEach((time, index) => { %>
                <p>
                    <a href="/lineups/<%= time.TEAM_ID%>/2019">
                        <img src="<%= time.LOGO%>">
                        <%=time.ABBREVIATION%>
                        <%=time.CITY%>
                        <%=time.NICKNAME%>
                    </a>
                </p>
            <% }); %>
        </div>
    </main>
</body>
</html>