<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>NBA APP - Salve, Ney!</title>
</head>
<body>
    <header>
        <a class="button" href="http://localhost:3000">HOME</a>
        <h1>Outras Informações do time</h1>
    </header>
    <main>
        <div class="infos">
            <h2>Informações do final da temporada de 2020</h2>
                <x>
                    <br>
                    <h4>CIDADE:</h4><%=otherinfos[0].CITY%><br>
                    <h4>TIME:</h4><%=otherinfos[0].CITY%> <%=otherinfos[0].NICKNAME%><br>
                    <h4>Treinador:</h4><%=otherinfos[0].HEADCOACH%><br>
                    <h4>General Manager:</h4><%=otherinfos[0].GENERALMANAGER%><br>
                    <h4>Dono:</h4><%=otherinfos[0].OWNER%><br>
                    <h4>Jogos:</h4><%=otherinfos[0].g%><br>
                    <h4>Porcentagem de Vitórias:</h4><%=otherinfos[0].W_PCT%><br>
                    <h4>Jogos em casa:</h4><%=otherinfos[0].HOME_RECORD%><br>
                    <h4>Jogos fora:</h4><%=otherinfos[0].ROAD_RECORD%><br>
                </x>
        </div>
    </main>
</body>
</html>