<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>NBA APP :D</title>
</head>
<body>
    <header>
        <a class="button" href="http://localhost:3000">HOME</a>
        <h1>Escalações</h1>
    </header>
    <main>
        <div class="players">
            <h2><%= playedSeasonsByPlayer[0].nome%></h2>
            <p>
            Total de pontos com cestas de três na carreira:<%=pt3[0].pt3%>
            <br>
            <br>
            Temporadas Jogadas em cada time:
            </p>
            <% playedSeasonsByPlayer.forEach((psbp, index) => { %>
                <p>
                    Time:<%= psbp.time%> ---
                    Temporadas jogadas:<%= psbp.temporadas_jogadas%>
                </p>
            <% }); %>
        </div>
    </main>
</body>
</html>